.about-us-container{

    max-width: 100%;
    min-height: 100vh;
    position: relative;
    
}

.about-header p{

    position: absolute;
    width: 118px;
    height: 24px;
    left: 100px;
    top: 16px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18.65px;
    line-height: 24px;
    letter-spacing: 0.2em;
    color: #858585;

}

.payment-pathway h1{

    position: absolute;
    width: 550px;
    height: 100px;
    right: 80px;
    top: 0px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 50px;
    color: #122038;

}

.text p{

    position: absolute;
    width: 550px;
    height: 150px;
    right: 80px;
    top: 112px;
    font-family: 'DM Sans';
    font-weight: 900;
    font-size: 18px;
    color: #757575;
    opacity: 0.8;
}

.money-out{
    
    position: absolute;
    width: 319px;
    height: 144px;
    left: -30px;
    top: 322px;
}

.moneyout-botton{

    position: absolute;
    width: 250px;
    height: 80px;
    left: 80px;
    top: -100px;
    background: linear-gradient(263.68deg, #5AAF87 4.04%, #D3BD00 127.52%);
    mix-blend-mode: normal;
    backdrop-filter: blur(9.5px);
    border-radius: 20px;
    font-weight: bold;
    letter-spacing: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    border:none;

}




.image1{
    
    position: absolute;
    width: 350px;
    height: 300px;
    left: 100px;
    top: 362px;
    background: #FFFFFF;
    border-radius: 20px;
    
}

.image1 .img{
    width: 350px;
    height: 300px;
}



.btn1{
    position: absolute;
    box-sizing: border-box;
    position: absolute;
    width: 280px;
    height: 55px;
    left: 30px;
    top: 283px;
    background: rgba(255, 255, 255, 0.7);
    mix-blend-mode: normal;
    backdrop-filter: blur(9.5px);
    border-radius: 20px;
    font-weight: bold;
    font-family: 'DM sans';
    border: none;

}

.image2{

    box-sizing: border-box;
    position: absolute;
    width: 350px;
    height: 300px;
    left: 900px;
    top: 280px;
    background: linear-gradient(3.68deg, #5AAF87 4.04%, #D3BD00 127.52%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    
    
}

.btn2{

    
    box-sizing: border-box;
    position: absolute;
    width: 300px;
    height: 55px;
    left: -40px;
    top:288px;
    background: rgba(255, 255, 255, 0.8);
    mix-blend-mode: normal;
    backdrop-filter: blur(9.5px);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: 'DM sans';
    border: none;
    
}
.image3.img3{
    width: 350px;
    height: 300px;
}

.image3{
    
    position: absolute;
    width: 350px;
    height: 300px;
    left: 400px;
    top: 850px;
    border: 1px solid black;
    border-radius: 20px;
    border: none;
    display: flex;
    background: linear-gradient(269.18deg, #F27405 6.87%, #D3BD00 118.13%)
    
}


.img3{
    margin-top: -50px;
    width: 350px;
    height: 300px;
}

.btn3{


    box-sizing: border-box;
    position: absolute;
    width: 273px;
    height: 55px;
    left:-125px;
    top:55px;
    background: rgba(255, 255, 255, 0.7);
    mix-blend-mode: normal;
    backdrop-filter: blur(9.5px);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: 'DM sans';
    border: none;

}

.image4{

    position: absolute;
    width: 350px;
    height: 300px;
    left: 870px;
    top: 700px;
    background: #FFFFFF;
    border-radius: 20px;

}


.btn4{

    box-sizing: border-box;
    position: absolute;
    width: 280px;
    height: 56px;
    left: 37px;
    bottom: -50px;
    background: rgba(255, 255, 255, 0.8);
    mix-blend-mode: normal;
    backdrop-filter: blur(9.5px);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: 'DM sans';
    border: none;

}

.learn-container{

    width: 140px;
    height: 53px;
    background: rgba(138, 138, 138, 0.3);
    mix-blend-mode: normal;
    backdrop-filter: blur(40px);
    border-radius: 20px;
    font-size: 24px;
    font-family: 'DM sans';
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border: none;
    position: absolute;
    top: 1100px;
    right: 90px;

}

.Learn-btn{
    width: 100%;
    height: 100%;
    background: linear-gradient(264.61deg, #24343E -97.02%, #5AAF87 133.21%);
    mix-blend-mode: normal;
    backdrop-filter: blur(9.5px);
    border-radius: 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'DM sans';
    font-weight: bold;
}

h3{
    font-family: 'DM sans';
    padding-bottom: 20px;
}

p{
    font-size: 14px;
    font-family: 'DM sans';

}



/* for responsive i-pad screens */

@media(max-width:1025px){

    .payment-pathway h1{
        right: 150px;
        font-size: 45px;
    }

    .text p {
        right: 150px;
    }

    .image1{
        width: 300px;
        height: 250px;
        
    }

    .image1 > img{ 
        width: 350px;
        height: 300px;  
    }
    .image2{
            left: 550px;
        }
    
    .image3{
        left: 120px;
        top: 800px;
        }

        .image4{
            width: 300px;
            height: 250px;
            left: 550px;
        }
        .image4 > img{ 
            width: 300px;
            height: 250px;
            left: 450px; 
        }

    .learn-container{
        right: 250px;
        width: 150px;
        height: 70px;
        }

    .Learn-btn{
        height: 70px;
        width: 200px;
    }


}



/* responsive mobile devices */

@media(max-width:850px){
    .about-header{
        position: absolute;
        left: -50px;
    }

    .payment-pathway h1{
        left: 180px;  
    }

    .text p {
        left: 180px;
    }

    .money-out{
        top: 340px;
    }

    .learn-container{
        right: 200px;
    }

    
    .image1{
        width: 250px;
        height: 200px;
        left:50px
        
    }
    .image1 > img{ 
        width: 300px;
        height: 250px;  
    }

    .image2{
        width: 300px;
        height: 250px;
        left:450px;
    }
    .image2 > img{ 
        width: 300px;
        height: 250px;  
    }

    .image3{
        width: 300px;
        height: 250px;
        left: 50px;
    }
    .img3{ 
        width: 300px;
        height: 250px;
         
    }

    .image4{
        width: 300px;
        height: 250px;
        left: 450px;
    }
    .image4 > img{ 
        width: 300px;
        height: 250px;
        left: 450px; 
    }

    .btn1{
        top: 230px;
        width: 250px;
        height: 50px;
        left: 25px;
        font-size: 10px;
    }

    .btn2{
        top: 140px;
        width: 150px;
        height: 50px;
        left: -30px;
        font-size: 10px;
    }

    .btn3{
        top: 230px;
        width: 250px;
        height: 50px;
        left: 25px;
        font-size: 10px;
    }

    .btn4{
        top: 140px;
        width: 150px;
        height: 30px;
        left: 0px;
        font-size: 10px;
    }


}

/* for responsive smaller i-pad screens */

@media(max-width:640px){

    .payment-pathway h1{
        font-size: 35px;
    }

    .text p {
        width: 470px;
        font-size: 17px;
    }

    .image1{
        width: 250px;
        height: 200px;
    }
    .image1 .img{ 
        width: 100%;
        height: 100%;  
    }

    .image2{
        width: 250px;
        height: 200px;
        left:350px;
    }
    .image2 > img{ 
        width: 250px;
        height: 250px;
          
    }

    .image3{
        width: 250px;
        height: 200px;
        left: 50px;
    }
    .img3{ 
        width: 250px;
        height: 300px;
        margin-top: 0px;  
    }

    .image4{
        width: 250px;
        height: 200px;
        left: 350px;
    }
    .image4 > img{ 
        width: 250px;
        height: 200px;
         
    }

    .btn1{
        top: 140px;
        width: 150px;
        height: 30px;
        left: 0px;
        font-size: 10px;
    }

    .btn2{
        top: 140px;
        width: 150px;
        height: 30px;
        left: 0px;
        font-size: 10px;
    }

    .btn3{
        top: 140px;
        width: 150px;
        height: 30px;
        left: 0px;
        font-size: 10px;
    }

    .btn4{
        top: 140px;
        width: 150px;
        height: 30px;
        left: 0px;
        font-size: 10px;
    }

}

/* responsive broad i-pad screen */

@media(min-height:600px) and (max-width:1025px){

    .about-us-container{

        max-width: 100%;
        min-height: 100vh;
        position: relative;  
    }
}

/* responsive mobile devices */

@media(max-width:430px){

    .about-us-container{

        max-width: 100%;
        min-height: 140vh;
        position: relative;
        bottom: -50px;  
    }

    .payment-pathway h1{
        font-size: 30px;
        top: 40px;
        left: 50px;
        width: 300px;
    }

    .text p {
        left: 50px;
        top: 150px;
        width: 330px;
    }

    .money-out{
        top: 500px;
    }

    .image1{
        width: 150px;
        height: 150px;
        top: 520px;  
        
    }
    .image1 > img{ 
        width: 150px;
        height: 150px;
    }

    .image2{
        width: 150px;
        height: 150px;
        top: 550px;
        left: 220px;  
        
    }

    .image2 > img{ 
        width: 150px;
        height: 150px;   
    }

    .image3 > img{ 
        width: 150px;
        height: 150px;   
    }

    .image3{
        width: 150px;
        height: 150px;
        top: 750px  
    }

    .image4{
        width: 150px;
        height: 150px;
        left: 220px;
        top: 800px;  
    }

    .image4 > img{ 
        width: 150px;
        height: 150px;   
    }

    .learn-container{
        top: 970px;
        }

}