
.form-container{
    width: 100%;
    position: relative;
    margin: 0px;
    padding: 0px;
    top: 300px;
    display: flex;

}

.form-image{
    min-width:50%;
    height: 500px;
}

.contact-form-image{
    height: 100%;
    width: 100%;
    padding: 60px;
}

.contact{

    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 40px;
    justify-content: center;
    align-items: center;
    width: 40%;

}

h2{
    margin-bottom: 10px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-group input[type="checkbox"] {
    width: auto;
}
.Learn-btn{
    width: 150px;
    height: 40px;
    background: linear-gradient(264.61deg, #24343E -97.02%, #5AAF87 133.21%);
    mix-blend-mode: normal;
    backdrop-filter: blur(9.5px);
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'DM sans';
    font-weight: bold;
}
.Learn-btn:hover {

    background-color: #28a065;
}

.check-box{
    font-size: 8px;
    font-size: "DM sans";
}
    

/* media query for mobile screen */

@media(max-width: 430px){

    .form-container{  
        top: 750px;
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .form-image{
        min-width:390px;
        height: 300px;
    }
    
    .contact-form-image{
        height: 100%;
        width: 100%;
        padding: 0px;
        top: 20px;
        position: relative;
    }

    .contact{
        margin-top: 40px;
        margin-left:-40px ;   
        width: 100%;
    }
}

    /* media query for ipad screen */ 
    
    @media(max-width: 1024px){
        .contact{
            margin-top: 40px;
            margin-left:-40px ;   
            width: 100%;
            
        }
    }