

.Postcard2-container{
    position: relative;
    width: 100%;
    min-height: 532px;
    top: 200px;
    display: flex;
}

.card1-container{
    position: absolute;
    width: 55%;
    height: 530px;
    background: #122038;
    border-top-right-radius: 20px
}


.card1-logo{

    position: absolute;
    width: 60px;
    height: 60px;
    left:20px;
    top: 20px;
}

.card1-img{
    position: absolute;
    width: 100%;
    height: 364px;
    left: 80px;
    bottom: 20px;
}

.card2-container{
    position: absolute;
    width: 45%;
    height: 400px;
    right: 0px;
    top: 130px;
    background: #5FB083;
}

.card2-header{
    width: 561px;
    height: 93px;
    font-family: 'Gayathri';
    font-weight: 700;
    font-size: 40px;
    color: #0F0F0F;
    padding-left: 20px;
    position: absolute;
    top: 90px;
}
    

.card2-text{
    width: 633px;
    height: 349px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: #0F0F0F;
    padding-left: 40px;
    position: absolute;
    bottom: -150px;
}


/* media query for ipad screen */

@media(max-width:1025px){

    .Postcard2-container{
        top: -1000px;
    }

    .card1-container{
        position: absolute;
        width: 55%;
        height: 530px;
        background: #122038;
        border-top-right-radius: 20px;
    }
    
    .card1-img{
        position: absolute;
        width: 55%;
        height: 300px;
        left: 0px;
        bottom: 50px;
    }
    
}


/* media query for ipad screen */

@media(max-width:850px){
    .Postcard2-container{
        top: -500px;
    }

    .card1-container{
        position: absolute;
        width: 50%;
        height: 530px;
        background: #122038;
        border-top-right-radius: 20px;
    }
    
    .card1-img{
        position: absolute;
        max-width: 350px;
        height: 300px;
        left: 10px;
        bottom: 50px;
    }

    .card2-container{
        position: absolute;
        width: 50%;
        height: 400px;
        right: 0px;
        top: 130px;
        background: #5FB083;
    }

    .card2-text{
        width: 633px;
        height: 349px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 36px;
        color: #0F0F0F;
        padding-left: 20px;
        position: absolute;
        bottom: -150px;
    }

    .card2-header{
        width: 561px;
        height: 93px;
        font-family: 'Gayathri';
        font-weight: 700;
        font-size: 38px;
        color: #0F0F0F;
        padding-left: 0px;
        position: absolute;
        top: 90px;
    }
}


/* media query for ipad short screen */

@media(min-height:600px) and (max-width:1025px){

    .Postcard2-container{
        bottom: 0px;
        min-height: 60vh;
    }
}



/* media query for mobile screen */

@media(max-width:430px){

    .Postcard2-container{
        top: 460px;
        display: block;
    }

    .card1-container{
        position: absolute;
        width: 100%;
        height: 400px;
        background: #122038;
        border-top-right-radius: 20px;
        top: 400px;
    }

    .card1-img{
        position: absolute;
        max-width: 350px;
        height: 200px;
        left: 10px;
        bottom: 50px;
    }

    .card2-container{
        position: absolute;
        width: 100%;
        height: 400px;
        right: 0px;
        top: 0px;
        background: #5FB083;
    }
}