
.services-container{
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    min-height: 150vh;
    position: relative;
    margin-top: 600px;
}

.services-heading{
    position: absolute;
    width: 200px;
    height: 24px;
    left: 100px;
    top: 30px;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 18.65px;
    line-height: 24px;
    letter-spacing: 0.2em;
    color: #858585;
    text-transform: uppercase;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 552px;
    left: 100px;
    top:100px;
}

.info-image{
    width: 40px;
    height: 40px;
    background: #5AAF87;
    mix-blend-mode: normal;
    backdrop-filter: blur(8.37364px);
    border-radius: 13.2215px;
}

.info-head{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 442px;
    height: 69px;
    font-weight: 500;
    font-size: 20px;
    line-height: 39px;
    color: #122038;
    
    

}

.infoo-text{

    width: 460px;
    height: 39px;
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    color: #757575;
    opacity: 0.8;
    margin-top: -30px;


}

.messages-header{
    
    position: absolute;
    width: 500px;
    height: 100px;
    left: 800px;
    top: 0px;
    font-family: 'Gayathri';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #122038;
    padding-top: 20px;
    

}

.messages-text{
    
    position: absolute;
    width: 548px;
    height: 120px;
    left: 800px;
    top: 120px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #757575;
    opacity: 0.8;

}

.messages-images-container{

    position: absolute;
    width: 617px;
    height: 400px;
    left: 730px;
    top: 320px;

}

.messages-images{
    width: 100%;
    height: 100%;
}


/* media query for responsive ipad screen */

@media (max-width:1025px){
    .services-container{
        margin-top: 60px
    }

    .services-heading{  
        left: 50px;
    }
    
    .info{
        left: 50px;
        width: 400px;
    }

    .infoo-text{
    
        width: 100%;
    }

    .messages-header {
        left: 520px;
        width: 380px;
    }
    .messages-header p{
        font-size: 40px;  
        
    }
    .messages-text {
        left: 520px;
        width: 380px; 
    }
    .messages-text p{
        font-size: 20px;
        width: 100%;  
    }

    .messages-images-container{

        position: absolute;
        width:380px;
        height: 400px;
        left: 520px;
        top: 320px;
    
    }
    
}

/* media query for responsive ipad screen */

@media (max-width:850px){

    .info{
        left: 10px;
        width: 350px;
    }

    .info > *{
        width: 100%;
    }
    .infoo-text{
    
        width: 100%;
        margin-bottom: 20px;
    }

    .messages-images-container{

        width: 370px;
        height: 300px;
        left: 380px;
    }

    .messages-text {
        left: 380px;
        width: 380px;  
    }
    .messages-text p{
        font-size: 20px;
        width: 100%;  
    }

    .messages-header {
        left: 400px;
        width: fit-content;  
        
    }
    .messages-header p{
        font-size: 40px;  
        
    }
}


/* media query for responsive mobile screen */

@media (max-width:430px){

    .services-container{
        top: 500px;
    }
    .messages-images-container{

        top: 950px;
        height: 250px;
        left: 10px;
    }

    .info{
        top: 50px;
    }

    .services-heading{
        top: 0px;
    }

    .messages-text {
        left: 0px;
        top: 850px;
        width: 380px; 
           
    }

    .messages-text p{
        padding-left: 10px;
    }

    .messages-header {
        left: 0px;
        top: 790px;
        width: fit-content; 
        height: 50px; 
        
    }
    .messages-header p{
        font-size: 15px;
        padding-left: 10px;  
        
    }
}