/* src/index.css or src/App.css */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@100;400;700&display=swap');


*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}


body {
    font-family: 'DM Sans', 'sans-serif','Gayathri';
    background: rgb(244, 237, 237);    
}







